@model cache_boy.Models.Coffee.AddCoffeeViewModel

<form asp-action="AddCoffee" asp-controller="Coffee">

    <div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>

        <div>
            <label asp-for="Price"></label>
            <input asp-for="Price" />
        </div>

        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" />
        </div>

        <input type="submit" value="Add Coffee!" />
    </div>

</form>