@model cache_boy.Models.Coffee.AddCoffeeViewModel

<form asp-action="AddedCoffee" asp-controller="Coffee">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>

        <input type="submit" value="Add Coffee!"/>
    </div>

</form>