@model cache_boy.Models.Coffee.CoffeesViewModel

<div>
    <h2>Check out THESE Coffees!</h2>
</div>

<ul class="list-group">
    @foreach (var coffee in Model.Coffees)
    {
        <li class="list-group-item">
            <div>
                <h4>@coffee</h4>
                <a asp-controller="Coffee"
                   asp-action="DeleteCoffee"
                   asp-route-coffeeName="@coffee">
                    Delete
                </a>
                <a asp-controller="Coffee"
                   asp-action="UpdateCoffee"
                   asp-route-coffeeName="@coffee">
                    Change Name
                </a>
            </div>
        </li>
    }
</ul>


<button>
    <a asp-action="AddCoffee" asp-controller="Coffee">Add Coffee</a>
</button>