@model cache_boy.Models.Coffee.UpdateCoffeeViewModel

<h1>Changing name for @Model.OldName</h1>

<form asp-action="UpdatedCoffee" asp-controller="Coffee">
    <div class="form-group">
        <label asp-for="NewName"></label>
        <input class="form-control" placeholder="Enter new name" asp-for="NewName" />
    </div>

    <div class="form-group">
        <label asp-for="NewDescription"></label>
        <input class="form-control" placeholder="Enter new Description" asp-for="NewDescription" />
    </div>

    <div class="form-group">
        <label asp-for="NewPrice"></label>
        <input class="form-control" placeholder="Enter new Price" asp-for="NewPrice" />
    </div>

    <input asp-for="ID" type="hidden" />

    <button type="submit" class="btn btn-primary">Update Coffee</button>
</form>