body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: url('https://marketrealist.imgix.net/uploads/2020/03/Marijuana.jpeg?auto=compress%2Cformat&crop=top&fit=crop&h=385&ixlib=php-1.2.1&w=696&wpsize=td_1920x1080'); */
}

h1 {
    color: blue;
}

h1 {
    color: red;
}


.first-list-item {
    color: magenta;
}


#box {
    width: 200px;
    height: 200px;

    background-color: grey;

    padding: 10px;
    border: 5px black dotted;
    margin: 10px;

    padding-top: 2px;   
    margin-left: 30px;
    border-bottom: 5px green solid;

    margin-left: 400px;
}




#app {
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    height: 100vh;
    width: 100vw;
}


.title-container {
    display: flex;

    width: 100%;
    height: 20%;

    justify-content: center;

    border: 1px solid black;
}

.headers-container {

    display: flex;

    width: 100%;
    height: 30%;

    height: auto;

    border: 1px solid black;
}

.headers {
    display: flex;

    width: 50%;

    height:  auto;
    flex-wrap: wrap;
    justify-content: space-around;


    border: 1px solid black;

}

.text {
    display: flex;

    width: auto;

    flex-direction: column;

    border: 1px solid black;

}

#cardi-b {
    display: flex;

    width: 100%;
    justify-content: center;
}

.list-container {
    display: flex;

    height: 40%;
    width: 100%;

    justify-content: space-evenly;
}


/* p {
    color: pink;
} */